yc_token    = ""
yc_cloud_id = ""
yc_folder_id = ""
yc_zone      = "ru-central1-a"

yc_service_account_name  = "otus-sa"
yc_bucket_name           = "otus-mlops-data"
yc_network_name          = "otus-network"
yc_subnet_name           = "otus-subnet"
yc_subnet_range          = "10.0.0.0/24"
yc_nat_gateway_name      = "otus-nat-gateway"
yc_route_table_name      = "otus-route-table"
yc_security_group_name   = "otus-security-group"
public_key_path = "~/.ssh/id_ed25519.pub"

airflow_admin_password = ""  # min 8 characters
mlflow_db_password     = ""  # password for MLflow PostgreSQL
